.checkout-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.25);

  .checkout-image,
  .description,
  .quantity,
  .price {
    width: 23%;
    padding: 1rem 1rem 1rem 0;
  }

  .checkout-image {
    img {
      width: 80%;
    }
  }

  .quantity {
    display: flex;
    padding-left: 0.8rem;

    .arrow {
      cursor: pointer;
    }

    .value {
      margin: 0 0.7rem;
    }
  }

  .remove {
    padding: 1rem 1rem 0 1rem;
    font-weight: bolder;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .checkout-item {
    .checkout-image,
    .description,
    .quantity,
    .price {
      width: 21%;
      padding: 1rem 1rem 1rem 0;
      font-size: 0.75rem;
    }
  }
}
