.sign-in-and-sign-up {
  display: flex;
  justify-content: space-between;
  margin: 2.5rem auto;
  width: 90%;
}

@media screen and (max-width: 768px) {
  .sign-in-and-sign-up {
    flex-direction: column;
  }
}
