.collection-page {
  display: flex;
  flex-direction: column;

  .title h2 {
    font-weight: lighter;
  }

  .collection-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.6rem;

    .collection-item {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .collection-page {
    padding: 0 2rem;
    .title h2 {
      text-align: center;
    }
    .collection-items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
  }
}
