.checkout-page {
  width: 55%;
  margin: 0 auto;

  .checkout-header {
    width: 100%;
    display: flex;
    padding: 1rem 0;
    border-bottom: 1px solid black;

    .header-block {
      font-weight: bold;
      width: 23%;

      &:last-child {
        width: 8%;
      }
    }
  }

  .total {
    text-align: right;
    margin: 3rem 0;

    span {
      font-size: 2rem;
      font-weight: lighter;
    }
  }

  .stripe-pay {
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
  }

  .test-warning {
    color: red;
    margin-top: 1rem;
    text-align: center;
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .checkout-page {
    width: 100%;
    padding: 1rem;

    .checkout-header {
      padding: 0;
      padding-bottom: 1rem;

      .header-block {
        width: 21%;

        span {
          font-size: 0.75rem;
        }

        &:last-child {
          width: 12%;
        }
      }
    }

    .total {
      span {
        font-size: 1.5rem;
        font-weight: lighter;
      }
    }

    .test-warning {
      font-size: 0.8rem;
    }
  }
}