.sign-in {
  display: flex;
  flex-direction: column;
  width: 45%;

  .title {
    margin: 0.6rem 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .sign-in {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2rem;

    .buttons {
      flex-direction: column;
      button {
        margin-bottom: 0.5rem;
      }
    }
  }
}
