.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  .logo {
    height: 3rem;
    padding: 0 1rem;
  }

  .options {
    display: flex;
    align-items: center;
  }

  .option {
    padding: 0rem 1rem;
    cursor: pointer;
  }
}
