.collection-preview {
  display: flex;
  flex-direction: column;

  .title {
      font-weight: lighter;
      cursor: pointer;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}
