.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  .logo {
    height: 3rem;
    padding: 0 1rem;
  }

  .logo-mobile {
    display: none;
  }

  .options {
    display: flex;
    align-items: center;
  }

  .option {
    margin: 0rem 1rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 1rem;
    margin-bottom: 1rem;

    .logo {
      display: none;
    }

    .logo-mobile {
      display: block;
      height: 1.5rem;
    }

    .option {
      margin: 0rem 0.6rem;
      font-size: 0.8rem;
    }
  }
}
